<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/buffetDesc.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Buffet</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	
	<section>
		<div id="buffet-container">
			<div class="title">
				<strong th:text="${buffet.nome}">Buffet Name</strong>
			</div>
			
			<div class="buffet-desc">
				<p th:text="${buffet.descrizione}">Non è presente una descrizione per questo buffet.</p>
			</div>
			
			<div class="chef">
				Buffet proposto dallo chef
				<a th:href="@{'/chef' + '/' + ${buffet.chef.id}}" th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">Chef Name</a>
			</div>
		</div>
		
		<div id="piatti-container">
			<div class="title">
				<strong>Piatti</strong>
			</div>
			
			<div class="piatto-desc" th:each="piatto : ${buffet.piatti}">
				<div class="piatto">
					<span class="nome" th:text="${piatto.nome}"></span><br>
					
					<strong class="ingredienti-title">Ingredienti: </strong>
					<span class="ingredienti" th:each="ingrediente : ${piatto.ingredienti}">
						<a th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}"></a>,
					</span>
					
					<div class="desc" th:text="${piatto.descrizione}"></div>
				</div>
				
				<hr>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>