<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/buffet.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Buffet Group</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='I Nostri Buffet')"></nav>
	
	<header th:replace="fragments/base.html :: header(image='buffetGroup.jpg', text='BUFFET')"></header>
	
	<section>
		<div id="buffet-container">
			<div class="buffet-item" th:each="buffet : ${buffetList}">
				<a th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">Nome Buffet</a>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>