<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/chef.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Chef Group</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='I Nostri Chef')"></nav>
	
	<header th:replace="fragments/base.html :: header(image='chefGroup.jpg', text='CHEF')"></header>
	
	<section>
		<div id="chef-container">
			<div class="chef-card" th:each="chef : ${chefList}">
				<div class="image">
					<img th:if="${chef.imageUrl.isEmpty()}" src="/images/chefIcon.jpg" />
					
					<img th:unless="${chef.imageUrl.isEmpty()}" th:src="${chef.imageUrl}" />
				</div>
				
				<div class="desc">
					<div class="link">
						<a th:href="@{'/chef' + '/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}">Chef</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>