<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/chefDesc.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Chef</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Chef')"></nav>
	
	<section>
		<div id="chef-container">
			<div class="chef-card">
				<div class="header">
					<img th:src="${chef.imageUrl}" />
				</div>
				
				<div class="info">
					<strong>Nome: </strong><span th:text="${chef.nome}">Nome</span><br>
					<strong>Cognome: </strong><span th:text="${chef.cognome}">Cognome</span><br>
					<strong>Nazionalità: </strong><span th:text="${chef.nazionalita}">Nazionalità</span>
				</div>
			</div>
		</div>
		
		<div class="title">
			<strong>BUFFET</strong>
	    </div>
	    
	    <hr>
	   
		<div class="buffet">
			<div class="button" th:each="buffet : ${chef.buffet}">
				<a th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">Buffet</a>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>