<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link href="/css/chef.css" rel="stylesheet">
	<title>Chef</title>
</head>
<body>
	<nav>
		<div id="nav-container">
			<div class="main-title">
				<strong>Chef</strong>
			</div>
		
			<div class="links">
				<a th:href="@{/}">HOME</a>
				&emsp;
				<a th:href="@{/}">INFORMAZIONI</a>
			</div>
		</div>
	</nav>
	
	<header>
		<img src="/images/chefGroup.jpg" />
	</header>
	
	<section>
		<div id="chef-container">
			<div class="chef-item" th:each="c : ${chef}">
				<div class="image">
					<img th:src="@{${'/images/chef/' + c.cognome + '.jpg'}}" />
				</div>
				
				<div class="desc">
					<div class="desc-title">
						<strong>CHEF</strong>
					</div>
					
					<div class="chef-desc">
						<strong>Nome: </strong><span th:text="${c.nome}">Null</span><br>
						<strong>Cognome: </strong><span th:text="${c.cognome}">Null</span><br>
						<strong>Nazionalità: </strong><span th:text="${c.nazionalita}">Null</span><br>
					</div>
					
					<div class="desc-title">
						<strong>BUFFET</strong>
					</div>
					
					<div class="chef-desc" th:each="b : ${c.buffet}">
						<a th:href="@{'/buffet' + '/' + ${b.id}}"><span th:text="${b.nome}"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="footer-info">
			Progetto realizzato da: Tiziano Tinari
		</div>
	</footer>
</body>
</html>