<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link href="/css/chef.css" rel="stylesheet">
	<title>Chef Group</title>
</head>
<body>
	<nav>
		<div id="nav-container">
			<div class="main-title">
				<strong>I Nostri Migliori Chef</strong>
			</div>
		
			<div class="links">
				<a th:href="@{/}">HOME</a>
				&emsp;
				<a th:href="@{/}">INFORMAZIONI</a>
			</div>
		</div>
	</nav>
	
	<header>
		<img src="/images/chefGroup.jpg" />
	</header>
	
	<section>
		<div id="chef-container">
			<div class="chef-item" th:each="chef : ${chef}">
				<div class="image">
					<img th:src="@{${'/images/chef/' + chef.cognome + '.jpg'}}" />
				</div>
				
				<div class="desc">
					<div class="link">
						<a th:href="@{'/chef' + '/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}">Chef</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="footer-info">
			Progetto realizzato da: Tiziano Tinari
		</div>
	</footer>
</body>
</html>