<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link href="/css/index.css?" rel="stylesheet">
	<title>Catering</title>
</head>
<body>
	<nav>
		<div id="nav-container">
			<div class="main-title">
				<strong>Servizi Di Catering</strong>
			</div>
		
			<div class="links">
				<a th:href="@{/}">HOME</a>
				&emsp;
				<a th:href="@{/}">INFORMAZIONI</a>
				&emsp;
				<a th:href="@{/}">ACCEDI</a>
			</div>
		</div>
	</nav>
	
	<header>
		<img src="/images/cucina.jpg" />
	</header>
	
	<section>
		<div id="flex-container">
			<div class="flex-item">
				<img src="/images/chef.jpg" />
				
				<div class="title">
					<strong>CHEF</strong>
				</div>
				
				<div class="info">
					Dai un'occhiata ai nostri migliori chef.<br>
					Qui puoi trovare i buffet proposti da ogni nostro chef.
				</div>
				
				<div class="button">
					<a th:href="@{/chef}">SCOPRI DI PIÙ</a>
				</div>
			</div>
			
			<div class="flex-item">
				<img src="/images/buffet.jpg" />
				
				<div class="title">
					<strong>BUFFET</strong>
				</div>
				
				<div class="info">
					Dai un'occhiata ai buffet proposti dai nostri migliori chef.<br>
					Qui puoi trovare tutti i piatti e gli ingredienti proposti in ogni buffet.
				</div>
				
				<div class="button">
					<a th:href="@{/}">SCOPRI DI PIÙ</a>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="footer-info">
			Progetto realizzato da: Tiziano Tinari
		</div>
	</footer>
</body>
</html>