<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/informazioni.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Informazioni</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	
	<section>
		<p>
			Noi siamo una società che offre servizi di <b>Catering</b>. Qui potete trovare i migliori <b>Chef</b> che ci sono in circolazione, 
			da quelli italiani, come Antonino Canavacciuolo, a quelli esteri, come Gordon Ramsay. Non sai quale Chef ti appaga di più? 
			Allora puoi visitare tutti i <b>Buffet</b> che sono stati proposti dagli Chef, ricchi di buoni <b>Piatti</b> di qualsiasi genere.
			<br><br>
			Cosa aspetti! Effettua l'accesso e dai un'occhiata ai nostri servizi.
		</p>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>