<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/ingrediente.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Ingrediente</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	
	<section>
		<div id="ingrediente-container">
			<div class="nome">
				<strong th:text="${ingrediente.nome}"></strong>
			</div>
			
			<div class="descrizione">
				<p th:text="${ingrediente.descrizione}"></p>
			</div>
			
			<div class="origine">
				Origine ingrediente:
				<strong th:text="${ingrediente.origine}"></strong>
			</div>
		</div>
	</section>
		
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>