<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/dataUserInsert.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Registrazione</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Crea un nuovo Account')"></nav>
	
	<section>
		<div class="insertion-box">
			<form th:action="@{/register}" method="POST">
				<div class="input">
			    	<span class="title">Username: </span>
			        <input type="text" placeholder="username" required th:field="${credentials.username}"/>
			        <span class="error" th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></span>
			    </div>
			    
			    <div class="input">
			        <span class="title">Password: </span>
			        <input type="password" placeholder="password" required th:field="${credentials.password}"/>
			        <span class="error" th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"></span>
			    </div>
			    
			    <div class="input">
			        <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;Nome: </span>
			        <input type="text" placeholder="nome" required th:field="${user.nome}"/>
			        <span class="error" th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}"></span>
			    </div>
			    
			    <div class="input">
			        <span class="title">&nbsp;Cognome: </span>
			        <input type="text" placeholder="cognome" required th:field="${user.cognome}"/>
			        <span class="error" th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}"></span>
			    </div>
			    
			    <div class="button">
			    	<button type="submit">Registrati</button>
			    </div>
			</form>
		</div>
	</section>
	
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>
