form {
	font-size: 20px;
}

.description a {
	color: white;
	text-decoration: none;
}

.description a:hover {
	color: lightgray;
}

.operations {
	margin-top: 10px;
}

.modify-data {
	font-family: monospace;
	text-decoration: none;
	color: white;
	padding: 5px;
	margin-right: 10px;
	background-color: blue;
	border: 2px solid #004080;
}

.modify-data:hover {
	background-color: #0000d5;
	color: #dfdfdf;
}

button {
	padding: 5px;
	font-family: monospace;
    font-size: 20px;
    color: white;
    border: 2px solid #004080;
    background-color: blue;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

button:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.15);
}

.annulla {
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.annulla a {
	font-size: 18px;
	text-decoration: none;
	color: red;
}

.annulla a:hover {
	text-decoration: underline;
}

hr {
	margin-left: 20px;
	margin-right: 20px;
}