section {
	margin: 75px 100px;
	font-family: monospace;
	background-color: white;
	border-radius: 5px;
	border: 2px solid black;
}

form {
	font-size: 20px;
}

button {
	font-size: 18px;
	font-family: monospace;
}

.annulla {
	margin: 20px 20px;	
}

.annulla a {
	font-size: 18px;
	text-decoration: none;
	color: black;
}

.annulla a:hover {
	text-decoration: underline;
}