.container {
	font-size: 20px;
}

span {
	font-family: monospace;
}

.selection {
	font-family: monospace;
	text-decoration: none;
	color: white;
	padding: 5px;
	margin-left: 10px;
	background-color: blue;
	border: 2px solid #004080;
}

.selection:hover {
	background-color: #0000d5;
	color: #dfdfdf;
}