header {
	height: 600px;
}

header img {
	width: 99.9%;
	height: 600px;
	border: 1px solid black;
}

section {
	margin: 75px 100px;
}

#chef-container {
	display: flex;
	flex-wrap: wrap; /* Avvolge i flex-item (li manda a capo se riempono una riga/colonna del flex-container) */
	flex-direction: row;
	align-items: flex-start;
}

.chef-item {
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 12.8px;
}

.image {
	height: 400px;
}

.desc {
	padding: 10px;
	font-size: 20px;
	font-family: monospace;
	height: 60px;
	text-align: center;
	background-color: white;
}

.link {
	padding-top: 20px;
}

.link a {
	text-decoration: none;
	color: black;
}

.link a:hover {
	text-decoration: underline;
}