section {
	margin: 75px 200px;
}

#chef-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.chef-card {
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.header {
	height: 400px;
}

.info {
	padding: 10px;
	font-size: 20px;
	font-family: monospace;
	background-color: black;
	color: white;
}

.info strong {
	font-style: italic;
	/*color: #9a9a9a;*/
	color: red;
}

.title {
	font-family: Lucida Handwriting;
	font-size: 50px;
	letter-spacing: 3px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	color: #b70000;
}

.buffet {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-family: monospace;
}

.button {
	margin: 25px 10px;
}

.button a {
	background-color: blue;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 20px;
	color: white;
	border-radius: 50px;
}

.button a:hover {
	background-color: #0000d5;
	color: #dfdfdf;
}