body {
	margin: 0;
}

nav {
	background-color: black;
	height: 75px;
}

#nav-container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-title strong {
	font-family: serif;
	font-style: italic;
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
}

.links a {
	text-decoration: none;
	font-family: monospace;
	letter-spacing: 2px;
	font-size: 20px;
	color: lightgrey;
}

.links a:hover {
	color: white;
}

section {
	margin: 75px 200px;
}

#chef-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.chef-card {
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.header {
	height: 400px;
}

.info {
	padding: 10px;
	font-size: 20px;
	font-family: monospace;
}

.info strong {
	font-style: italic;
}

.title {
	font-family: monospace;
	font-size: 50px;
	letter-spacing: 3px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

.buffet {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-family: monospace;
}

.button {
	margin: 25px 10px;
}

.button a {
	background-color: blue;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 20px;
	color: white;
	border-radius: 50px;
}

.button a:hover {
	background-color: #0080ff;
}

footer {
	background-color: black;
	height: 100px;
}

.footer-info {
	color: lightgrey;
	font-size: 20px;
	font-family: monospace;
	text-align: center;
	padding-top: 35px;
}