section {
	margin: 75px 100px;
	font-family: monospace;
	background-color: black;
	border-radius: 5px;
	border: 5px solid grey;
}

.operazioni {
	margin: 50px 20px;
}

.operazioni > div {
	margin-top: 40px;
	font-size: 30px;
}

.operazioni > div a {
	background-color: blue;
	text-decoration: none;
	padding: 15px;
	font-size: 20px;
	color: white;
	border: 1px solid rgb(0, 128, 255);
	font-family: monospace;
}

.operazioni > div a:hover {
	background-color: #0080ff;
}
