section {
	margin: 75px 100px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    height: 750px;
    justify-content: space-between;
}

div.flex-item {
	background-color: black;
	width: 40%;
	text-align: center;
	color: white;
	border: 3px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: linear 0.2s;
}

div.flex-item:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
	transition: linear 0.2s;
}

div.flex-item img {
	width: 100%;
	border-bottom: 3px solid black;
}

.title {
	padding-top: 30px;
	font-family: Lucida Handwriting;
	font-size: 50px;
	letter-spacing: 5px;
	color: #b70000;
}

.info {
	padding-top: 10px;
	font-family: cursive;
	font-size: 20px;
}

.button {
	padding-top: 50px;
}

.button a {
	background-color: blue;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 20px;
	color: white;
	border-radius: 50px;
	font-family: monospace;
	transition: ease-in 0.3s;
}

.button a:hover {
	background-color: #0000d5;
	color: #dfdfdf;
	transition: ease-out 0.3s;
}