header img {
	width: 99.9%;
	height: 600px;
	border: 1px solid black;
}

section {
	margin: 75px 100px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    height: 750px;
    justify-content: space-between;
}

div.flex-item {
	background-color: black;
	width: 40%;
	text-align: center;
	color: white;
	border-radius: 0 0 10px 10px;
	border: 3px solid #b70000;
}

div.flex-item img {
	width: 100%;
	border-bottom: 3px solid #b70000;
}

.title {
	padding-top: 30px;
	font-family: Lucida Handwriting;
	font-size: 50px;
	letter-spacing: 5px;
	color: #b70000;
}

.info {
	padding-top: 10px;
	font-family: cursive;
	font-size: 20px;
}

.button {
	padding-top: 50px;
}

.button a {
	background-color: blue;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 20px;
	color: white;
	border-radius: 50px;
	font-family: monospace;
}

.button a:hover {
	background-color: #0000d5;
	color: #dfdfdf;
}