header img {
	width: 99.9%;
	height: 600px;
	border: 1px solid black;
}

section {
	margin: 75px 100px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: space-between;
}

div.flex-item {
	width: 40%;
	text-align: center;
}

div.flex-item img {
	width: 100%;
	border: 1px solid blue;
}

.title {
	padding-top: 30px;
	font-family: monospace;
	font-size: 50px;
	letter-spacing: 5px;
	color: grey;
}

.info {
	padding-top: 10px;
	font-family: helvetica;
	font-size: 20px;
}

.button {
	padding-top: 50px;
}

.button a {
	background-color: blue;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 20px;
	color: white;
	border-radius: 50px;
	font-family: monospace;
}

.button a:hover {
	background-color: #0080ff;
}