section {
	margin: 75px 100px;
}

#ingrediente-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: auto;
}

.nome {
	font-family: monospace;
	font-size: 50px;
	color: blue;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.descrizione {
	font-family: helvetica;
	font-size: 30px;
}

.origine {
	font-family: monospace;
	font-style: italic;
	font-size: 20px;
}

.origine strong {
	font-style: normal;
}