section {
	margin: 75px 100px;
}

#container {
	background-color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: auto;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid #b70000;
	border-radius: 10px;
}

.nome {
	font-family: Lucida Handwriting;
	font-size: 50px;
	color: #b70000;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.descrizione {
	font-family: cursive;
	font-size: 30px;
	margin: auto 100px;
}

.origine {
	font-family: monospace;
	font-style: italic;
	font-size: 20px;
}

.origine strong {
	font-style: normal;
}

.ingredienti {
	font-family: Garamond;
	font-size: 25px;
}

.ingredienti .ingrediente {
	font-style: italic;
}