<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:fragment="style" th:href ="@{/css/base.css}" rel="stylesheet">
</head>
<body>
	<nav th:fragment="navigation(title)">
		<div id="nav-container">
			<div class="main-title">
				<strong th:text="${title}"></strong>
			</div>
		
			<div class="links">
				<span><a th:href="@{/}">HOME</a></span>
				<span><a th:href="@{/informazioni}">INFORMAZIONI</a></span>
				<span sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/home}">OPERAZIONI</a></span>
				<span sec:authorize="!isAuthenticated()"><a th:href="@{/register}">REGISTRATI</a></span>
				<span sec:authorize="!isAuthenticated()"><a th:href="@{/login}">ACCEDI</a></span>
				<span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">ESCI</a></span>
			</div>
		</div>
	</nav>
	
	<footer th:fragment="footer">
		<div class="footer-info">
			SIW - Servizi Di Catering - @Tiziano Tinari 2022
		</div>
	</footer>
</body>
</html>