<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/buffetForm.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Operazioni</title>
</head>
<body>
	<section>
		<strong class="titolo">Aggiungi Buffet</strong><hr>
		
		<form th:action="@{'/admin' + '/' + ${chefId} + '/buffet'}" method="POST" th:object="${buffet}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<span class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
			</div>
			
			<div class="form-box">
				<span class="input-title">Nome: </span><input type="text" th:field="*{nome}" />
				<span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			
			<div class="form-box">
				<div class="input-title">Descrizione: </div>
				<textarea name="descrizione" rows="5" cols="50" th:field="*{descrizione}"></textarea>
				<span class="error" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			
			<div class="confirm-block">
				<button type="submit">Conferma</button>
				
				<a th:href="@{/admin/home}">Annulla</a>
			</div>
		</form>
	</section>
</body>
</html>