<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/adminSelection.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Scegli il Buffet</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Scegli il Buffet')"></nav>

	<section>
		<div class="container" th:each="buffet : ${buffetList}">
			<ul>
				<li>
					<span th:text="${buffet.nome}">Buffet</span>
					<a th:href="@{'/admin' + '/' + ${buffet.id} + '/piattoForm'}">Selziona</a>
				</li>
			</ul>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>