<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/adminSelection.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Scegli lo Chef</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Scegli lo Chef')"></nav>

	<section>
		<div class="container" th:each="chef : ${chefList}">
			<ul>
				<li>
					<span th:text="${chef.nome} + ' ' + ${chef.cognome}">Chef</span>
					<a th:href="@{'/admin' + '/' + ${chef.id} + '/buffetForm'}">Selziona</a>
				</li>
			</ul>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>