<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/adminModifyForm.css}" rel="stylesheet">
	<link th:href="@{/css/adminSection.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Elimina Buffet</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Elimina Buffet')"></nav>

	<section>
		<div th:each="buffet : ${buffetList}">
			<form th:action="@{'/admin/deleteBuffet' + '/' + ${buffet.id}}" method="POST">
				<ul>
					<li>
						<span class="description"><a th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}"></a></span>
						
						<div class="operations">
							<span><button type="submit">Rimuovi</button></span>
						</div>
					</li>
				</ul>
			</form>
			
			<hr color="grey">
		</div>
		
		<div class="annulla">
			<a th:href="@{/admin/home}">Annulla</a>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>