<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/deleteBuffetForm.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Elimina Buffet</title>
</head>
<body>
	<section>
		<strong class="titolo">Elimina Buffet</strong><hr>
		
		<div th:each="buffet : ${buffetList}">
			<form th:action="@{'/admin/deleteBuffet' + '/' + ${buffet.id}}" method="POST">
				<ul>
					<li>
						<span th:text="${buffet.nome}"></span>
						<span><button>Rimuovi</button></span>
					</li>
				</ul>
			</form>
		</div>
		
		<div class="annulla">
			<a th:href="@{/admin/home}">Annulla</a>
		</div>
	</section>
</body>
</html>