<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/adminModifyForm.css}" rel="stylesheet">
	<link th:href="@{/css/adminSection.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Elimina Piatto</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Elimina Piatto')"></nav>

	<section class="section-operations">
		<div th:each="piatto : ${piatti}">
			<form th:action="@{'/admin/deletePiatto' + '/' + ${piatto.id}}" method="POST">
				<ul>
					<li>
						<span th:text="${piatto.nome}"></span>
						
						<div class="operations">
							<span><button>Rimuovi</button></span>
						</div>
					</li>
				</ul>
			</form>
			
			<hr color="grey">
		</div>
		
		<div class="annulla">
			<a th:href="@{/admin/home}">Annulla</a>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>