<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/deleteChefForm.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Elimina Chef</title>
</head>
<body>
	<section>
		<strong class="titolo">Elimina Chef</strong><hr>
		<div th:each="chef : ${chefList}">
			<form th:action="@{'/deleteChef' + '/' + ${chef.id}}" method="POST">
				<ul>
					<li>
						<span th:text="${chef.nome} + ' ' + ${chef.cognome} + ' (' + ${chef.nazionalita} + ')'"></span>
						<span><button>Rimuovi</button></span>
					</li>
				</ul>
			</form>
		</div>
		
		<div class="annulla">
			<a th:href="@{/admin/home}">Annulla</a>
		</div>
	</section>
</body>
</html>