<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/home.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Operazioni</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Operazioni Amministratore')"></nav>

	<section>
		<div class="operazioni">
			<div><a th:href="@{/admin/chefForm}">Aggiungi Chef</a></div>
			<div><a th:href="@{/admin/modifyChef}">Modifica Chef</a></div>
			<div><a th:href="@{/admin/chefSelection}">Aggiungi Buffet</a></div>
			<div><a th:href="@{/admin/deleteBuffetForm}">Rimuovi Buffet</a></div>
			<div><a th:href="@{/admin/buffetSelection}">Aggiungi Piatto</a></div>
			<div><a th:href="@{/admin/deletePiattoForm}">Rimuovi Piatto</a></div>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>