<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/home.css}" rel="stylesheet">
	<link th:href="@{/css/adminSection.css}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Operazioni</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Operazioni Amministratore')"></nav>

	<section class="section-home">
		<div id="operazioni">
			<div class="card">
				<div class="header"><strong>Chef</strong></div>
				
				<div class="buttons">
					<div><a th:href="@{/admin/chefForm}">Aggiungi Chef</a></div>
					<div><a th:href="@{/admin/modifyChef}">Modifica Chef</a></div>
				</div>
			</div>
			
			<div class="card">
				<div class="header"><strong>Buffet</strong></div>
				
				<div class="buttons">
					<div><a th:href="@{/admin/chefSelection}">Aggiungi Buffet</a></div>
					<div><a th:href="@{/admin/modifyBuffet}">Modifica Buffet</a></div>
				</div>
			</div>
			
			<div class="card">
				<div class="header"><strong>Piatto</strong></div>
				
				<div class="buttons">
					<div><a th:href="@{/admin/buffetSelection}">Aggiungi Piatto</a></div>
					<div><a th:href="@{/admin/modifyPiatto}">Modifica Piatto</a></div>
				</div>
			</div>
			
			<div class="card">
				<div class="header"><strong>Ingrediente</strong></div>
				
				<div class="buttons">
					<div><a th:href="@{/admin/piattoSelection}">Aggiungi Ingrediente</a></div>
					<div><a th:href="@{/admin/modifyIngrediente}">Modifica Ingrediente</a></div>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>