<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/adminForm.css?}" rel="stylesheet">
	<link th:replace="fragments/base.html :: style">
	<title>Modifica Dati Chef</title>
</head>
<body>
	<nav th:replace="fragments/base.html :: navigation(title='Modifica Dati Chef')"></nav>

	<section>
		<form th:action="@{'/admin/modifyChefData' + '/' + ${chef.id}}" method="POST" th:object="${chef}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<span class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
			</div>
			
			<div class="form-box">
				<span class="input-title">Nome: </span><input type="text" th:value="*{nome}" th:field="*{nome}" />
				<span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			
			<div class="form-box">
				<span class="input-title">Cognome: </span><input type="text" th:value="*{cognome}" th:field="*{cognome}" />
				<span class="error" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			
			<div class="form-box">
				<span class="input-title">Nazionalità: </span><input type="text" th:value="*{nazionalita}" th:field="*{nazionalita}" />
				<span class="error" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
			</div>
			
			<div class="confirm-block">
				<button type="submit">Conferma Modifiche</button>
				
				<div class="annulla">
					<a th:href="@{/admin/home}">Annulla</a>
				</div>
			</div>
		</form>
	</section>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>